name: Run Tests

on:
  pull_request:
  push:
    branches:
      - main
      - dev

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --fix-missing libgeos-dev
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.93.1
          components: rustfmt, clippy
          default: true
      - name: Cargo Test
        run: |
          cargo test
      - name: Cargo Clippy
        run: |
          cargo clippy
      - name: Cargo fmt
        run: |
          cargo fmt --check
